.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

.day-list {
    // width: 70%;
    flex: 1;
}

.day-list-wrapper {
    list-style-type: none;
}

.day-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-day-btn {
    display: flex;
    justify-content: start;
    margin-top: 16px;
    border-radius: 10px;
    padding: 4px 0;
    margin-left: 4px;
}