.create-syllabus {
  overflow-x: hidden;

  padding: 20px 0;

  &__header {

    border-bottom: 1px solid var(--primary-color);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    &-left {
      margin-right: auto;
    }

    &-right {
      display: flex;
      gap: 5px;
    }
  }
}

.contenteditable {
  margin-top: 32px;
}



.editable-content {
  width: 100%;
}