@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar {
  @apply rounded-t-xl;
}

.ql-container {
  @apply rounded-b-xl;
}

.ql-editor {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.ql-picker-options {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.ql-picker-label {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.ant-tabs-nav {
  @apply !mb-0;
}
/* 
.ant-tabs-tab {
  @apply !bg-box !text-main !rounded-t-2xl !rounded-b-none !py-2 !px-5 !m-0;
} */

.ant-tabs-tab-active {
  @apply !bg-main !text-primary;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply !text-primary;
}

.ant-picker-cell-inner {
  @apply !rounded-full;
}

.ant-picker-disabled {
  @apply !bg-primary
}