.filter-form {
    width: 760px;
}

.location-title,
.class-time,
.class-status,
.class-attendee {
    margin: 0;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22px;
    color: #2d3748;
}

.class-time {
    margin-right: 16px;
}

.from-time,
.to-time {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: black;
}
.from-time::after {
    content: none;
}

.time-wrapper {
    display: flex;
}

.location-time-wrapper {
    display: flex;
}

.my-button {
    margin: 0;
}
.search-btn,
.clear-btn {
    background-color: #2d3748;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.search-btn {
    padding: 15px 24px;
}

.clear-btn {
    padding: 15px 25px;
}
