// .container {
//     width: 1172px;
// }

.criteria {
    // display: flex;
    margin-bottom: 20px;
    // justify-content: space-between;
}

.principle-wrapper {
    background-color: #fff;
}

.time-wrapper {
    min-height: 385.33px;
    // width: 100%;
}