.layout {
    min-height: 100vh;
    background-image: url('./assets/bg.jpg') no-repeat center center;
    background-size: cover;
}

.header {
    height: 79px;
    background: rgba(45, 55, 72, 1);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.header-logo-left {
    height: 59px;
    margin-top: 10px;
    margin-left: 20px;
    width: 92px;
}

.header-right {
    display: flex;
    align-items: auto;
}

.header-logo-right {
    margin-top: 25px;
    margin-left: 20px;
    height: 30px;
    width: 107px;
}

.header-profile {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.profile-name {
    margin-bottom: -45px;
    color: white;
    text-align: left;
}

.logout-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: auto !important;
}

.logout-link:hover {
    text-decoration: underline;
}
.login-content {
    background: url('./assets/bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.login-form-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-form {
    max-width: 300px;
    margin: auto;
}

.login-form-button {
    width: 100%;
    background-color: #2d3748;
    border-color: #2d3748;
}

.login-form-forgot {
    float: right;
}

.login-footer {
    color: white;
    background-color: rgba(45, 55, 72, 1);
    text-align: center;
    padding: 10px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mainLayout {
    display: flex;
    flex: 1;
}
