.footer {
    height: 79px;
    display: flex;
    background-color: #2d3748;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 40px;
}



.footer__content {
    font-size: 16px;
    font-weight: 400;
    color: #fff
}
