.footer {
    height: 79px;
    display: flex;
    background-color: #2d3748;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 40px;
}

.copy-right {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.login-footer {
    color: white;
    background-color: rgba(45, 55, 72, 1);
    text-align: center;
    padding: 10px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
