.container {
  background-color: #EDF2F7;
  /* height: calc(100vh - 70px - 39px); */
  padding: 20px 0;
  transition: width 0.2s;
  /* margin-top: 79px; */
  /* z-index: 998; */
  /* position: sticky; */
  /*   
  top: 70px;
  left: 0;
  overflow-y: auto; */
  height: 100%;
}

.container-expanded {
  width: 256px;
}

.container-collapsed {
  width: 80px;
}

.button {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11px;
}

.menu {
  border-right: none;
  background-color: #EDF2F7;
}

.menu-item {
  font-size: 16px;
}

.menu-item:hover {
  background-color: #ECF8FF !important;
  color: #000000 !important;
}