.container {
    // width: 1172px;
    width: 100%;
}

.criteria {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 30px;
}

.principle-wrapper {
    background-color: #fff;
}