/* tr,td{
    height: 50px !important;
} */

.training-program::-webkit-scrollbar {
    display: none;
}

.table-cell:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}