/* Root CSS: Make by Truong Tan */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary-color: #2D3748;
  --secondary-color: #4F6181;
  --highlight-one: #D45B13;
  --highlight-two: #2F903F;

}

* {
  font-family: "Inter", sans-serif;
  /* font-style: normal; */
  font-variation-settings:
    "slnt"0;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

/* Checkbox */
.checkbox-primary .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox-primary .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: transparent;
}

/* End Checkbox */
/* Radio */
.radio-primary .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

/* End Radio */


.login-layout {
  min-height: 100vh;
  background: url('/assets/bg.jpg') no-repeat center center;
  background-size: cover;
}

.login-header {
  height: 79px;
  background: rgba(45, 55, 72, 1);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header-logo-left{
  height: 59px;
  margin-top: 10px;
  margin-left: 20px;
  width: 92px;
  
} 
.header-logo-right {
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
  width: 107px;
}

.login-content {
  background: url('./assets/bg.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.login-form-container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.login-form {
  max-width: 300px;
  margin: auto;
}

.login-form-button {
  width: 100%;
  background-color: #2D3748;
  border-color: #2D3748;
}

.login-form-forgot {
  float: right;
}

.login-footer {
  color: white;
  background-color: rgba(45, 55, 72, 1);
  text-align: center;
  padding: 10px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
