/* DropDownSearch */

#dropdown-search .ant-select-selector:not(:hover) {
    border: 1px solid #8B8B8B ;
}   

#dropdown-search .ant-select-selection-search-input, 
#dropdown-search .ant-select-selection-item {
    padding-left: 35px ;
}   
    
/* ManageTrainingProgramMenu */

#manage-training-program-menu {
    width: 221px;
    padding: 10px;
    border-radius: 10px;
    z-index: 30;
}

.material-edit-modal .ant-modal-body,
.material-create-modal .ant-modal-body {
    width: calc(700px - 48px) !important;
}

/* ViewProgramMaterial */

#material-name:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}